body {
  font-family: Dela Gothic One, "Montserrat";
  background-image: url(images/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #101315;*/
}

/* base */

.container {
  max-width: 1400px;
  padding: 0 16px;
  margin: 0 auto;
  overflow: hidden;
}

main {
  background-color: #101315;
  margin-top: 67px;
}

/* text */

.title {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  line-height: 118%;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.cardTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 118%;
  color: #fff;
  margin-bottom: 9px;
}

.desc {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 118%;
  color: #fff;
  margin-bottom: 22px;
}

.subDesc {
  font-size: 18px;
  font-weight: 400;
  line-height: 118%;
  color: #fff;
}

.spanDesc {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
}

.contentSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.textBlock * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.contentBlock {
  max-width: 337px;
}

/* btn */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 32px;
  border: 1px solid #fff;
  padding: 4px 8px;
  height: 40px;
  color: #fff;
  min-width: 163px;
  width: fit-content;
}

.btnMain {
  background: #e32966;
  box-shadow: 0px 9px 26px 0px rgba(227, 41, 102, 0.3);
  border: 1.5px solid #e32966;
}

.btnSecondary {
  border: 1.5px solid #e32966;
}

.btnCard {
  border: 1px solid var(--unnamed, #e32966);
  background: var(--unnamed, #e32966);
  box-shadow: 0px 9px 26px 0px rgba(227, 41, 102, 0.3);
}

.btnTable {
  background: #e32966;
  width: 274px;
  border: 1.5px solid #e32966;
  box-shadow: 0px 9px 26px 0px rgba(227, 41, 102, 0.3);
  background-image: url(images/ArrowTable.svg);
  background-repeat: no-repeat;
  background-position: right 15% center;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.headerWrapper {
  position: sticky;
  top: 0;
  width: 100%;
}

.navList {
  display: flex;
  gap: 50px;
  margin-right: 194px;
}

.navItem {
  font-size: 15px;
  list-style-type: none;
  font-weight: 400;
  line-height: 160%;
  color: #fff;
}

/*.navLink {
  
}*/

.actionLink {
  display: flex;
  gap: 44px;
  align-items: center;
}

.phone {
  display: flex;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
  height: 25px;
}

/* main */

.mainText {
  max-width: 464px;
  margin-top: 194px;
}

.mainText * {
  margin-bottom: 16px;
}

.mainTitle {
  font-size: 48px;
  font-weight: 900;
  line-height: 118%;
  text-transform: uppercase;
  color: #fff;
}

.mainDesc {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #fff;
}

.actionButtons {
  display: flex;
  gap: 31px;
}

.socialIcon {
  display: flex;
  margin-top: 122px;
  gap: 16px;
}

.aboutDesc {
  font-size: 32px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 118%;
}

.beginner {
  margin-top: 93px;
}

/*.cards {
  display: flex;
  justify-content: space-between;
}*/

.cardBlock {
  max-width: 319px;
}

.cardItem {
  background-color: rgba(22, 43, 237, 0.5);
  max-width: 391px;
  height: 450px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pinkImg {
  margin-bottom: 26px;
}

.subBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listBlock {
  display: flex;
  flex-direction: column;
}

.listItem {
  display: flex;
  gap: 8px;
  margin-bottom: 43px;
}

.alternativeDesc {
  color: #e32966;
}

.imgScroll {
  display: flex;
  align-items: center;
}

.vectorLeft {
  margin-right: 16px;
}

.vectorRight {
  margin-left: 20px;
}

.table {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-spacing: 4px;
  margin-bottom: 34px;
}

.table td {
  background: rgba(196, 196, 196, 0.2);
  text-align: center;
  padding: 37px;
  font-size: 20px;
  color: #fff;
}

.table th {
  background-color: #1f1f22;
  padding: 53px;
  font-size: 20px;
  color: #fff;
}

.table tr:hover {
  background-color: #162bed80;
}

.table tr {
  transition: all 0.3s;
}

.secondaryContain {
  margin-bottom: 107px;
}

.vrBlock {
  max-width: 446px;
  text-align: center;
  height: 529px;
  box-shadow: 0px 8px 24px 0px rgba(129, 135, 189, 0.15);
  background: radial-gradient(
      72.29% 44.07% at 50% 93.92%,
      #a40a79 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      45.56% 43.91% at 4.78% 4.31%,
      #008df3 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      67.34% 60.82% at 98.22% 1.22%,
      #dc18c8 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(22, 43, 237, 0.5);
}

.subContent {
  max-width: 281px;
}

.vrNumbers {
  display: flex;
  gap: 10px;
  margin-top: 56px;
  justify-content: center;
}

.vectorImg {
  width: 12px;
  height: 24px;
}

.spanDesc2 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.spanDesc1 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
