body {
  font-family: Dela Gothic One, "Montserrat";
  background-image: url(images/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* base */

.container {
  max-width: 1400px;
  padding: 0 16px;
  margin: 0 auto;
  overflow: hidden;
}

/* btn */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 32px;
  border: 1px solid #fff;
  padding: 4px 8px;
  height: 40px;
  color: #fff;
  min-width: 163px;
  width: fit-content;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.headerWrapper {
  position: sticky;
  top: 0;
  width: 100%;
}

.navList {
  display: flex;
  gap: 50px;
  margin-right: 194px;
}

.navItem {
  font-size: 15px;
  list-style-type: none;
  font-weight: 400;
  line-height: 160%;
  color: #fff;
}

.navLink {
}

.actionLink {
  display: flex;
  gap: 44px;
  align-items: center;
}

.phone {
  display: flex;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
  height: 25px;
  
}
